.App {
  text-align: center;

  background: repeating-linear-gradient(
    -45deg,
    white,
    white 10px,
    #ecf9f461 10px,
    #ecf9f461 16px
  )
}

.btn-primary {
  background-color: #60cda2;
  border: none;
}
